body {
  background-color: #e2c5ad;
}

h1 {
  color: #000000;
  background-color: #4d633573;
  text-align: center;
  margin: 0px
}

h2 {
  color: #3d5e14;
  /* background-color: beige; */
  margin-top: 10px
}


p {
  /* background-color: white; */
  width: 1000px;
  margin: 0 auto 0 0;
}

ul {
  /* background-color: white; */
  width: 1000px;
  margin: 0 auto 0 0;
}

ol {
  width: 1000px;
  margin: 0 auto 0 0;
}

.return {
  text-align: center;
}